<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1" />
</head>
<link rel = "stylesheet"
   type = "text/css"
   href = "/app/main.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
	<div data-ng-app="myApp" data-ng-controller="formCtrl">
		<form name="myForm">
			<label> Last Name: <input type="text" name="lastname"
				ng-model="lastname" required>
			</label> <br /> 
			<label> First Name: <input type="text"
				name="firstname" ng-model="firstname" required>
			</label> <br /> 
			<label> Street Address: <input type="text"
				name="doctorsteetaddress" ng-model="doctorsteetaddress" required>
			</label> <br /> 
			<label> Area Address: <input type="text"
				name="doctorareaaddress" ng-model="doctorareaaddress" required>
			</label> <br /> 
			<label> Postal Code: <input type="number"
				name="doctorpostalcode" ng-model="doctorpostalcode" required
				min="10000" max="999999">
			</label> <br /> 
			City: <select ng-model="doctorcity"
				ng-options="x.cityName for x in citynames">
				<option value="">--SelectCity--</option>
			</select> <br /> 
			<label> Email: <input type="email"
				name="doctoremail" ng-model="doctoremail" required>
			</label> <br /> 
			<label> Contact: <input type="number"
				name="doctorcontact" ng-model="doctorcontact" required>
			</label> <br /> 
			<label> Password: <input type="password"
				name="doctorpassword" ng-model="doctorpassword" required>
			</label> <br /> 
			<label> Fees: <input type="number"
				name="doctorfees" ng-model="doctorfees" required>
			</label> <br /> 
			Type: <select ng-model="doctorType"
				ng-options="x.doctorTypeName for x in doctortypes">
				<option value="">--Select Doctor Type--</option>
			</select> <br />
			<label> Experience: <input type="text"
				name="doctorfees" ng-model="doctorexperience" required>
			</label> <br />
			<br/>
			<p>Availability</p>
			<table class='patient-table'>
				<th>Day</th>
				<th>Slot1</th>
				<th>Slot2</th>
				<th>Slot3</th>
				<th>Slot4</th>
				<th>Slot5</th>
				<th>Slot6</th>
				<th>Slot7</th>
				<th>Slot8</th>
				<th>Slot9</th>
				<th>Slot10</th>
				<th>Slot11</th>
				<th>Slot12</th>
				
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="sundaySlot0">sunday: 
					</label>
					</td>
					<td><input type="checkbox"ng-model="sundaySlot1" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot2" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot3" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot4" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot5" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot6" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot7" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot8" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot9" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot10" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot11" ng-show="sundaySlot0"></td>
					<td><input type="checkbox"ng-model="sundaySlot12" ng-show="sundaySlot0"></td>
					
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="mondaySlot0">monday: 
					</label>
				</td>
					<td><input type="checkbox"ng-model="mondaySlot1" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot2" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot3" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot4" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot5" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot6" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot7" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot8" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot9" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot10" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot11" ng-show="mondaySlot0"></td>
					<td><input type="checkbox"ng-model="mondaySlot12" ng-show="mondaySlot0"></td>
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="tuesdaySlot0">tuesday: 
					</label>
				</td>
					<td><input type="checkbox"ng-model="tuesdaySlot1" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot2" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot3" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot4" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot5" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot6" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot7" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot8" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot9" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot10" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot11" ng-show="tuesdaySlot0"></td>
					<td><input type="checkbox"ng-model="tuesdaySlot12" ng-show="tuesdaySlot0"></td>
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="wednesdaySlot0">wednesday: 
					</label>
				</td>
				<td><input type="checkbox"ng-model="wednesdaySlot1" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot2" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot3" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot4" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot5" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot6" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot7" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot8" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot9" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot10" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot11" ng-show="wednesdaySlot0"></td>
					<td><input type="checkbox"ng-model="wednesdaySlot12" ng-show="wednesdaySlot0"></td>
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="thursdaySlot0">thursday: 
					</label>
				</td>
				<td><input type="checkbox"ng-model="thursdaySlot1" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot2" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot3" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot4" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot5" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot6" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot7" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot8" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot9" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot10" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot11" ng-show="thursdaySlot0"></td>
					<td><input type="checkbox"ng-model="thursdaySlot12" ng-show="thurdaySlot0"></td>
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="fridaySlot0">friday: 
					</label>
				</td>
				<td><input type="checkbox"ng-model="fridaySlot1" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot2" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot3" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot4" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot5" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot6" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot7" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot8" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot9" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot10" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot11" ng-show="fridaySlot0"></td>
					<td><input type="checkbox"ng-model="fridaySlot12" ng-show="fridaySlot0"></td>
				</tr>
				<tr ><td>
					<label><input type="checkbox" ng-init="checked=false"
								ng-model="saturdaySlot0">saturday: 
					</label>
				</td>
				<td><input type="checkbox"ng-model="saturdaySlot1" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot2" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot3" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot4" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot5" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot6" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot7" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot8" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot9" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot10" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot11" ng-show="saturdaySlot0"></td>
					<td><input type="checkbox"ng-model="saturdaySlot12" ng-show="saturdaySlot0"></td>
				</tr>
			</table>
		</form>
		<br/>
		<button ng-click="doctorRegistration()" type="submit">Register</button>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('formCtrl', function($scope, $location, $http) {
			
			$http.get("http://localhost:8888/app/cityvault/cities")
			.then(function(response) {
				$scope.citynames = response.data;
			}, function myError(response) {
				$scope.heading += response.statusText;
			});
			
			$http.get("http://localhost:8888/app/cityvault/doctortypes")
			.then(function(response) {
				$scope.doctortypes = response.data;
			}, function myError(response) {
				$scope.heading += response.statusText;
			});
			
			$http.get("http://localhost:8888/app/cityvault/slots")
			.then(function(response) {
				$scope.slots = response.data;
			}, function myError(response) {
				$scope.heading += response.statusText;
			});
			
			$scope.doctorRegistration = function() {
				
				var registrationForm = {
						doctorLastName:$scope.lastname, 
						doctorFirstName:$scope.firstname,
						doctorSteetAddress:$scope.doctorsteetaddress,
						doctorAreaAddress:$scope.doctorareaaddress,
						doctorPostalCode:$scope.doctorpostalcode,
						doctorCity:$scope.doctorcity.cityId,
						doctorEmail:$scope.doctoremail,
						doctorContact:$scope.doctorcontact,
						doctorPassword:$scope.doctorpassword,
						doctorFees:$scope.doctorfees, 
						doctorType:$scope.doctorType.doctorTypeId,
						doctorExperience:$scope.doctorexperience,
						doctorSunday:($scope.sundaySlot0 ? true : false),
						doctorMonday:($scope.mondaySlot0 ? true : false),
						doctorTuesday:($scope.tuesdaySlot0 ? true : false),
						doctorWednesday:($scope.wednesdaySlot0 ? true : false),
						doctorThursday:($scope.thursdaySlot0 ? true : false),
						doctorFriday:($scope.fridaySlot0 ? true : false),
						doctorSaturday:($scope.saturdaySlot0 ? true : false)
					};
				
				var userreq = {
						 method: 'POST',
						 url: 'http://localhost:8888/app/cityvault/doctoruserregistration',
						 data:  JSON.stringify(registrationForm)
						}
				$http(userreq)
				.then(function(response) {
							$scope.createdDoctorId = response.data.doctorUserId;
							//alert($scope.createdDoctorId);
							var availabilityFormArray = Array();
							
							
					 		
							availabilityFormArray[0] = {
							    appointmentAvailabilityDoctor: $scope.createdDoctorId,
							    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
							    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
							    appointmentAvailabilitySlotDay: "Sunday",
							    appointmentAvailabilitySlotTime1: ($scope.sundaySlot1 ? true : false),
							    appointmentAvailabilitySlotTime10: ($scope.sundaySlot10 ? true : false),
							    appointmentAvailabilitySlotTime11: ($scope.sundaySlot11 ? true : false),
							    appointmentAvailabilitySlotTime12: ($scope.sundaySlot12 ? true : false),
							    appointmentAvailabilitySlotTime2: ($scope.sundaySlot2 ? true : false),
							    appointmentAvailabilitySlotTime3: ($scope.sundaySlot3 ? true : false),
							    appointmentAvailabilitySlotTime4: ($scope.sundaySlot4 ? true : false),
							    appointmentAvailabilitySlotTime5: ($scope.sundaySlot5 ? true : false),
							    appointmentAvailabilitySlotTime6: ($scope.sundaySlot6 ? true : false),
							    appointmentAvailabilitySlotTime7: ($scope.sundaySlot7 ? true : false),
							    appointmentAvailabilitySlotTime8: ($scope.sundaySlot8 ? true : false),
							    appointmentAvailabilitySlotTime9: ($scope.sundaySlot9 ? true : false)
							  };
						  	availabilityFormArray[1] = {
								    appointmentAvailabilityDoctor: $scope.createdDoctorId,
								    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
								    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
								    appointmentAvailabilitySlotDay: "Monday",
								    appointmentAvailabilitySlotTime1: ($scope.mondaySlot1 ? true : false),
								    appointmentAvailabilitySlotTime10: ($scope.mondaySlot10 ? true : false),
								    appointmentAvailabilitySlotTime11: ($scope.mondaySlot11 ? true : false),
								    appointmentAvailabilitySlotTime12: ($scope.mondaySlot12 ? true : false),
								    appointmentAvailabilitySlotTime2: ($scope.mondaySlot2 ? true : false),
								    appointmentAvailabilitySlotTime3: ($scope.mondaySlot3 ? true : false),
								    appointmentAvailabilitySlotTime4: ($scope.mondaySlot4 ? true : false),
								    appointmentAvailabilitySlotTime5: ($scope.mondaySlot5 ? true : false),
								    appointmentAvailabilitySlotTime6: ($scope.mondaySlot6 ? true : false),
								    appointmentAvailabilitySlotTime7: ($scope.mondaySlot7 ? true : false),
								    appointmentAvailabilitySlotTime8: ($scope.mondaySlot8 ? true : false),
								    appointmentAvailabilitySlotTime9: ($scope.mondaySlot9 ? true : false)
								};
						  	availabilityFormArray[2] = {
								    appointmentAvailabilityDoctor: $scope.createdDoctorId,
								    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
								    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
								    appointmentAvailabilitySlotDay: "Tuesday",
								    appointmentAvailabilitySlotTime1: ($scope.tuesdaySlot1 ? true : false),
								    appointmentAvailabilitySlotTime10: ($scope.tuesdaySlot1 ? true : false),
								    appointmentAvailabilitySlotTime11: ($scope.tuesdaySlot11 ? true : false),
								    appointmentAvailabilitySlotTime12: ($scope.tuesdaySlot12 ? true : false),
								    appointmentAvailabilitySlotTime2: ($scope.tuesdaySlot2 ? true : false),
								    appointmentAvailabilitySlotTime3: ($scope.tuesdaySlot3 ? true : false),
								    appointmentAvailabilitySlotTime4: ($scope.tuesdaySlot4 ? true : false),
								    appointmentAvailabilitySlotTime5: ($scope.tuesdaySlot5 ? true : false),
								    appointmentAvailabilitySlotTime6: ($scope.tuesdaySlot6 ? true : false),
								    appointmentAvailabilitySlotTime7: ($scope.tuesdaySlot7 ? true : false),
								    appointmentAvailabilitySlotTime8: ($scope.tuesdaySlot8 ? true : false),
								    appointmentAvailabilitySlotTime9: ($scope.tuesdaySlot9 ? true : false)
								  };
							availabilityFormArray[3] = {
									    appointmentAvailabilityDoctor: $scope.createdDoctorId,
									    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
									    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
									    appointmentAvailabilitySlotDay: "Wednesday",
									    appointmentAvailabilitySlotTime1: ($scope.wednesdaySlot1 ? true : false),
									    appointmentAvailabilitySlotTime10: ($scope.wednesdaySlot10 ? true : false),
									    appointmentAvailabilitySlotTime11: ($scope.wednesdaySlot11 ? true : false),
									    appointmentAvailabilitySlotTime12: ($scope.wednesdaySlot12 ? true : false),
									    appointmentAvailabilitySlotTime2: ($scope.wednesdaySlot2 ? true : false),
									    appointmentAvailabilitySlotTime3: ($scope.wednesdaySlot3 ? true : false),
									    appointmentAvailabilitySlotTime4: ($scope.wednesdaySlot4 ? true : false),
									    appointmentAvailabilitySlotTime5: ($scope.wednesdaySlot5 ? true : false),
									    appointmentAvailabilitySlotTime6: ($scope.wednesdaySlot6 ? true : false),
									    appointmentAvailabilitySlotTime7: ($scope.wednesdaySlot7 ? true : false),
									    appointmentAvailabilitySlotTime8: ($scope.wednesdaySlot8 ? true : false),
									    appointmentAvailabilitySlotTime9: ($scope.wednesdaySlot9 ? true : false)
									  };
							availabilityFormArray[4] = {
										    appointmentAvailabilityDoctor: $scope.createdDoctorId,
										    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
										    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
										    appointmentAvailabilitySlotDay: "Thursday",
										    appointmentAvailabilitySlotTime1: ($scope.thursdaySlot1 ? true : false),
										    appointmentAvailabilitySlotTime10: ($scope.thursdaySlot10 ? true : false),
										    appointmentAvailabilitySlotTime11: ($scope.thursdaySlot11 ? true : false),
										    appointmentAvailabilitySlotTime12: ($scope.thursdaySlot12 ? true : false),
										    appointmentAvailabilitySlotTime2: ($scope.thursdaySlot2 ? true : false),
										    appointmentAvailabilitySlotTime3: ($scope.thursdaySlot3 ? true : false),
										    appointmentAvailabilitySlotTime4: ($scope.thursdaySlot4 ? true : false),
										    appointmentAvailabilitySlotTime5: ($scope.thursdaySlot5 ? true : false),
										    appointmentAvailabilitySlotTime6: ($scope.thursdaySlot6 ? true : false),
										    appointmentAvailabilitySlotTime7: ($scope.thursdaySlot7 ? true : false),
										    appointmentAvailabilitySlotTime8: ($scope.thursdaySlot8 ? true : false),
										    appointmentAvailabilitySlotTime9: ($scope.thursdaySlot9 ? true : false)
										  };
							availabilityFormArray[5] = {
											    appointmentAvailabilityDoctor: $scope.createdDoctorId,
											    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
											    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
											    appointmentAvailabilitySlotDay: "Friday",
											    appointmentAvailabilitySlotTime1: ($scope.fridaySlot1 ? true : false),
											    appointmentAvailabilitySlotTime10: ($scope.fridaySlot10 ? true : false),
											    appointmentAvailabilitySlotTime11: ($scope.fridaySlot11 ? true : false),
											    appointmentAvailabilitySlotTime12: ($scope.fridaySlot12 ? true : false),
											    appointmentAvailabilitySlotTime2: ($scope.fridaySlot2 ? true : false),
											    appointmentAvailabilitySlotTime3: ($scope.fridaySlot3 ? true : false),
											    appointmentAvailabilitySlotTime4: ($scope.fridaySlot4 ? true : false),
											    appointmentAvailabilitySlotTime5: ($scope.fridaySlot5 ? true : false),
											    appointmentAvailabilitySlotTime6: ($scope.fridaySlot6 ? true : false),
											    appointmentAvailabilitySlotTime7: ($scope.fridaySlot7 ? true : false),
											    appointmentAvailabilitySlotTime8: ($scope.fridaySlot8 ? true : false),
											    appointmentAvailabilitySlotTime9: ($scope.fridaySlot9 ? true : false)
											  };
							availabilityFormArray[6] = {
												    appointmentAvailabilityDoctor: $scope.createdDoctorId,
												    appointmentAvailabilityDoctorCity: $scope.doctorcity.cityId,
												    appointmentAvailabilityDoctorType: $scope.doctorType.doctorTypeId,
												    appointmentAvailabilitySlotDay: "Saturday",
												    appointmentAvailabilitySlotTime1: ($scope.saturdaySlot1 ? true : false),
												    appointmentAvailabilitySlotTime10: ($scope.saturdaySlot10 ? true : false),
												    appointmentAvailabilitySlotTime11: ($scope.saturdaySlot11 ? true : false),
												    appointmentAvailabilitySlotTime12: ($scope.saturdaySlot12 ? true : false),
												    appointmentAvailabilitySlotTime2: ($scope.saturdaySlot2 ? true : false),
												    appointmentAvailabilitySlotTime3: ($scope.saturdaySlot3 ? true : false),
												    appointmentAvailabilitySlotTime4: ($scope.saturdaySlot4 ? true : false),
												    appointmentAvailabilitySlotTime5: ($scope.saturdaySlot5 ? true : false),
												    appointmentAvailabilitySlotTime6: ($scope.saturdaySlot6 ? true : false),
												    appointmentAvailabilitySlotTime7: ($scope.saturdaySlot7 ? true : false),
												    appointmentAvailabilitySlotTime8: ($scope.saturdaySlot8 ? true : false),
												    appointmentAvailabilitySlotTime9: ($scope.saturdaySlot9 ? true : false)
												  };
												  
							//alert( JSON.stringify(availabilityFormArray) );
							var availreq = {
									 method: 'POST',
									 url: 'http://localhost:8888/app/cityvault/doctoruserregistration/availability',
									 data:  JSON.stringify(availabilityFormArray)
									}
							 $http(availreq)
							.then(function(response) {
										alert("Registration Successful");
										
										
									},
									function myError(response) {
										$scope.heading += response.statusText;
									}); 
									
							location.replace("http://localhost:8888/app/");
						},
						function myError(response) {
							$scope.heading += response.statusText;
						});
			};
			
		});
	</script>
</body>
</html>