<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>DAP Home</title>
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel = "stylesheet"
   type = "text/css"
   href = "main.css" />
<body>
	<div data-ng-app="myApp" data-ng-controller="cnt" class="login-sec row">
	<br/>
	<div class="col-md-6">
		<button ng-click="goToPatientLogin()" class='btn btn-default'>Patient Login/Signup</button></div>
		<br/><br/>
	<div class="col-md-6">
		<button ng-click="goToDoctorLogin()" class='btn btn-default'>Doctor Login/Signup</button></div>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('cnt', function($scope, $location, $http) {
			
			$scope.goToPatientLogin = function() {
				window.location = "http://localhost:8888/app/appointmentbookingapp/patientlogin"
				
			};
			
			$scope.goToDoctorLogin = function() {
				window.location = "http://localhost:8888/app/appointmentbookingapp/doctorlogin"
				
			};
			
			});
	</script>
</body>
</html>